body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
}

/* Header Container */
.header {
  position: relative;
  width: 100%;
  height: 100vh; /* full screen height */
  overflow: hidden;
}

/* Text Overlay */
.header-content {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 10;
}

.header-content h1 {
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin: 0;
  background: none;
  padding: 20px 40px;
}

.subtext {
  font-size: 16px;
  font-weight: 150;
  opacity: 0.8;
  margin-top: 10px;
  text-align: center;
}
.subtext a {
  color: inherit;
  text-decoration: underline;
}
